.team {
  background-color: var(--third-bg-color);
}

.team-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.team-item {
  background-color: var(--main-bg-color);
  width: calc((100% - 90px) / 4);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-title-color);
}

.team-wrap {
  padding: 30px 5px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--duration) var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.team-soc-icon {
  fill: var(--main-icon-color);
  transition: fill var(--duration) var(--cubic);

  .team-soc-link:hover &,
  .team-soc-link:focus & {
    fill: var(--icon-accent-color);
  }
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
}
